.mentorship-page {
    padding: 60px;
    max-width: 1000px;
    margin: auto;
    background-color: #dfd1d1;
}

.mentorship-title {
    margin-bottom: 30px;
}

.mentor-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.mentor-card {
    border: 4px solid #ea0d0d;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.mentor-card.selected {
    border-color: #0b5ed7;
    background: #f2f6ff;
}

.mentorship-form {
    margin-top: 40px;
}

.mentorship-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
.mentorship-hero-image {
    width: 100%;
    max-height: 320px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 40px;
}